<h1>Hola soy la página de NOSOTROS</h1>
<h3>Este es el administrador para editar y actualizar todo lo relacionado al staff</h3>

<form action="">
    <input type="text" placeholder="Nombre del staff">

</form>"