/*color de la fuente*/

h1{
    color: rgb(255, 255, 255); /*color de la fuente*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*fuente*/
    font-weight: bolder;
    background-color: rgb(69, 94, 0); /*fondo*/
    text-align: center; /*alineación*/
}

h2{
    color:rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    text-align: center;
}

h3{
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21;
    font-weight: 600;
    text-align: left;
}

h4{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    text-align: left;
}

p{
    color:rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.destacados{
    color:cadetblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
}

ol{
    color:rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}

ul{
    color:rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}

img{
    width: 200px;
    border-radius: 100px;
    align-content: center;
}

#multimedia{
    background-color: rgba(14, 110, 110, 0.425);
    width: 325px;
    padding: 10px;
    border-top: 5px dotted rgb(255, 255, 255);
    border-bottom: 5px dotted rgb(255, 255, 255);
    border-radius: 70px;
    box-sizing: border-box;
}

#imagen{
    background-image: none;
    width: 200px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 1px;
    margin:auto;
    border-top: 5px dotted rgb(47, 105, 0);
    border-bottom: 5px dotted rgb(47, 105, 0);
    border-radius: 70px;
    box-sizing: border-box;
}